---
import Base from "@layouts/Base.astro";
import Header from "@components/notes/Header.astro";
import { components } from "@components/global";

import { getCollection, render } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const notes = await getCollection("notes");
  return notes.map((note) => ({
    params: { id: note.id },
    props: { note },
  }));
}

const { note } = Astro.props;
const { Content } = await render(note);
---

<Base title={note.data.title} description={note.data.description}>
  <article data-pagefind-body>
    <Header note={note} />
    <div class="body">
      <Content components={components} />
    </div>
  </article>
</Base>

<style>
  .body {
    max-width: 60rem;
  }
</style>

<style lang="scss" is:global>
  .body {
    ul,
    ol {
      display: grid;
      gap: 0.5em;
    }
  }

  pre {
    border-radius: 0.25em;
    padding: 1em;
  }

  code {
    font-family: var(--font-1);
    font-weight: 700;
    font-variation-settings: "wdth" 70;
    letter-spacing: 0.1em;
  }
</style>
