:root {
  --font-1: 'Noto Serif', 'Noto Serif Fallback', serif;
  --font-size-base: 1.2rem;
  --font-small: 0.7em;
  --font-medium: calc(var(--font-size-base) * 1.2);
  --font-large: calc(var(--font-size-base) * 1.4);

  /* Colors */
  color-scheme: light dark;
  --white: oklch(0.982 0 0);
  --black: oklch(0.232 0 0);
  --text-color: light-dark(var(--black), var(--white));
  --background-color: light-dark(var(--white), var(--black));
}