:root {
  --font-1: 'Noto Serif', serif;
  --font-size-base: clamp(1rem, 4vw, 1.25rem);
  --font-small: calc(var(--font-size-base) * 0.8);
  --font-medium: calc(var(--font-size-base) * 1.2);
  --font-large: calc(var(--font-size-base) * 1.4);

  /* Colors */
  color-scheme: light dark;
  --white: oklch(0.982 0 0);
  --black: oklch(0.232 0 0);
  --text-color: light-dark(var(--black), var(--white));
  --background-color: light-dark(var(--white), var(--black));
}