@use 'utils';

header.note {
  margin-bottom: 5rem;
}

nav a {
  display: inline-block;
  padding: 0.5em;
}

h1 {
  margin-bottom: 0;
}

.note-body {

  ul,
  ol {
    display: grid;
    gap: 0.5em;
  }
}

ul {
  &.tags {
    @extend .unstyled-list;
    padding-left: 0.5em;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: var(--font-small);
    font-variation-settings: "wdth" 70;
    letter-spacing: 0.1em;
    font-weight: 200;
  }
}

a.tag {
  font-style: italic;
}

main ul {
  display: grid;
  gap: 1em;
}

pre {
  border-radius: 0.25em;
  padding: 1em;
}

code {
  font-family: var(--font-1);
  font-weight: 700;
  font-variation-settings: "wdth" 70;
  letter-spacing: 0.1em;
}