/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 16px;
}

:where(h1, h2, h3, h4, h5, h6, section, article) {
  scroll-margin-top: 1rem; // space above the destination
}

body {
  margin: 0;
}

img {
  /* Make images responsive */
  max-width: 100%;
  height: auto;
}

/* Add the correct font weight in Chrome, Edge, and Safari */
b,
strong {
  font-weight: bolder;
}

pre,
code {
  font-size: 1em;
}