@use 'noto-serif';
@use 'reset';
@use 'config';
@use 'utils';

@view-transition {
  navigation: auto;
}

h1 {
  font-weight: 100;
  font-size: clamp(3rem, 10vw, 7rem);
  font-variation-settings: "wdth" 70;
  line-height: 1.2;
  text-wrap: balance;
}

h2 {
  font-style: italic;
  font-weight: 300;
  font-size: 2em;
  text-align: right;
  margin-top: 3em;
  border-top: 0.1em solid;
  padding-top: 0.25em;
}

a {
  text-decoration: none;
  color: currentColor;
  text-transform: lowercase;
  letter-spacing: 0.15em;

  &:hover,
  &:focus {
    background-color: var(--text-color);
    color: var(--background-color);
  }

  &:focus-visible {
    outline: none;
  }
}

::selection {
  color: var(--background-color);
  background-color: var(--text-color);
}