@use 'noto-serif';
@use 'reset';
@use 'config';
@use 'utils';

@view-transition {
  navigation: auto;
}

h1 {
  font-weight: 100;
  font-size: 4em;
  font-variation-settings: "wdth" 70;
}

h2 {
  font-style: italic;
  font-weight: 300;
  font-size: 2em;
  text-align: right;
  margin-top: 3em;
  border-top: 0.1em solid;
  padding-top: 0.25em;
}

a,
.a {
  text-decoration: none;
  color: currentColor;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}



a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}

a:focus-visible {
  outline: 0.1em solid currentColor;
}

::selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

pre, code {
  font-family: inherit;
}