---
const { signoff, date } = Astro.props;

const parsedDate = new Date(date);

const datetime = parsedDate.toISOString();

const readableDate = new Date(date + "T12:00:00").toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div>
  <p>{signoff}</p>
  <p class="name">Sam</p>
  <time datetime={datetime}>{readableDate}</time>
</div>

<style lang="scss">
  div {
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    justify-content: end;
    font-style: italic;
  }

  p.name {
    margin-bottom: 0;
  }
</style>
