---
import Base from "@layouts/Base.astro";
import { links } from "@data/config";
---

<Base title="Page Not Found">
    <h1>Page Not Found</h1>
    <p>
      It looks like this page doesn't exist. If it seems like this page
      definitely <em>should</em> exist, please <a href=`mailto:${links.email}`
        >email me</a
      >.
    </p>
  </main>
</Base>
