---
import Base from "@layouts/Base.astro";
import { links } from "@data/config";
---

<Base title="Page Not Found">
  <h1>Page Not Found</h1>
  <p>
    It looks like this page doesn't exist. Most likely this is a private note,
    but if it seems like something that should be public, please <a
      href=`mailto:${links.email}`>email me</a
    >.
  </p>
</Base>
