---
import Base from "@layouts/Base.astro";
import SearchUI from "@components/Search.astro";
---

<Base title="Search">
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/notes/tags">Tags</a>
    </nav>
    <h1>Search</h1>
  </header>
  <main id="main">
    <SearchUI />
  </main>
</Base>
