<main id="main"><slot /></main>

<style>
  main {
    flex: 1;
  }
</style>

<style lang="scss" is:global>
  main {
    a:not(.tag, .blockquote) {
      font-variant: small-caps;
    }
  }

  // MOBILE STYLES
  @media screen and (max-width: 768px) {
    main p {
      text-align: justify;
      hyphens: auto;
    }
  }
</style>
