<main id="main"><slot /></main>

<style lang="scss">
  main {
    flex: 1;
  }
</style>

<style lang="scss" is:global>
  main {
    a:not(.tag) {
      font-variant: small-caps;
    }

    p,
    ul,
    ol {
      line-height: 1.3;
    }
  }
</style>
