---
import { links } from "@data/config";
---

<footer class="defer">
  <ul class="unstyled-list">
    <li><a href=`mailto:${links.email}`>Email</a></li>
    <li><a href={links.github}>GitHub</a></li>
    <li><a href={links.mainSite}>Main Site</a></li>
  </ul>
</footer>

<style lang="scss">
  footer {
    font-size: var(--font-small);
    margin-top: 5rem;
  }

  ul {
    display: grid;
    gap: 0.5em;
  }
</style>
