---
import Tags from "@components/Tags.astro";

const { note } = Astro.props;

const tags = note.data.tags.sort((a, b) => a.localeCompare(b)) || [];
---

<header>
  <h1>{note.data.title}</h1>
  <Tags tags={tags} path="notes" />
</header>

<style lang="scss">
  header {
    margin-bottom: 5rem;
  }

  h1 {
    margin-bottom: 0;
  }
</style>
