---
import Head from "@components/head/Head.astro";
import SiteHeader from "@components/SiteHeader.astro";
import Footer from "@components/Footer.astro";
import Main from "@components/Main.astro";

import "@styles/layouts/_base.scss";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en-us" prefix="og:https://ogp.me/ns#">
  <Head title={title} description={description} />
  <body>
    <SiteHeader />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
